{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

<h2 class="display-3 text-center">Quotes of the Day</h2>

<div id="quotes" class="text-center fst-italic container text-primary border p-1">
    <h3 class="display-6">Get Inspired</h3>
    <p  class="fst-italic">{{ quote }}</p>
    <p><span  class="text-danger">Author: </span>{{ author }},<span class="text-danger">quote-id: </span>{{ id }}</p>
    <a href="{{ link }}" class="text-danger">{{ link }}</a>
    <style>
        #quotes{
            background: rgb(179, 171, 171);
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgb(224, 168, 168), 0 6px 20px 0 rgb(231, 171, 171);
        }
        p, .fst-italic, .display-6{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: normal;
        }
        h2{
            color:red;
            text-shadow: 2px 2px 5px rgb(179, 174, 174);
        }
        #footer{
            margin-top: 20%;
            color: aliceblue;
        }
        h3{
            color: black;
        }
    </style>
</div>
<div class="container  mt-3" id ="footer">
    <div class="container text-center" id="footer">
        <p><b>Evans Oduor</b></p>
        <p><b>&copy; 2021</b></p>
      </div>
  
  </div>
{% endblock %}
